@model IEnumerable<Entities.Inbox>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<ul class="email-list">
    @foreach (var item in Model)
    {
        <li>
            <div class="email-sender-info">
                <div class="checkbox-wrapper-mail">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="mail3">
                        <label class="form-check-label" for="mail3"></label>
                    </div>
                </div>
                <span class="star-toggle mdi mdi-star-outline text-warning"></span>
                <a href="javascript: void(0);" class="email-title">
                    @item.ToMail
                </a>
            </div>
            <div class="email-content">
                <a href="javascript: void(0);" class="email-subject">
                    @item.Subject
                    &nbsp;–&nbsp; <span>
                        @item.Message... 
                    </span>
                </a>
                <div class="email-date text-nowrap"> @item.EntryOn</div>
            </div>
            <div class="email-action-icons">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="javascript: void(0); ComposeMailDetails(@item.Id,2)"> <i class="fas fa-arrow-right icon" style="margin-top:10px;"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);" onclick="deleteEmailDetail(@item.Id)">
                            <i class="mdi mdi-delete email-action-icons-item"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0); ComposeMailDetails(@item.Id,1)">
                            <i class="mdi mdi-email-mark-as-unread email-action-icons-item"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript: void(0);"><i class="mdi mdi-clock email-action-icons-item"></i></a>
                    </li>
                </ul>
            </div>
        </li>
    }
</ul>
<div id="Compose_modalPV"></div>
<script>
    function ComposeMailDetails(Id,type) {
        let param = {
            Id: Id,
            Type:type
        };

        $.post("DetailMail", param)
            .done(function (res) {
                console.log(res);
                $("#Compose_modalPV").html(res);
                var messageTextarea = document.getElementById('message');
                messageTextarea.hidden = false; 
                var htmlContent = messageTextarea.value; 
                var tempDiv = document.createElement('div');
                tempDiv.innerHTML = htmlContent;
                var plainText = tempDiv.innerText || tempDiv.textContent;
                document.getElementById('messageTxt').innerText = plainText;
                messageTextarea.hidden = true;
                $("#Dr_detailmodal").modal("show");
            })
            .fail(function () {
                alert("Error occurred while fetching the mail details.");
            });
    }
</script>