@model IEnumerable<Entities.EmailTemplate>
@{
    ViewData["Title"] = "EmailTemplateList";
    Layout = null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td><textarea class="form-control bg-transparent border-0" cols="60">@item.Content</textarea></td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td class="table-action">
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="editEmailTemplate(@item.TemplateID)"></i></a>
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
        </td>
    </tr>
}
}