@model IEnumerable<Entities.Treatment>

@{
    ViewData["Title"] = "TreatmentList";
    Layout =null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td class="table-action">
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="medicationList(@item.TreatmentId)"></i></a>
        </td>
    </tr>
}
}


