@model Entities.TreatmentDetails

@{
    ViewData["Title"] = "TreatmentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.treatment)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

@foreach (var item in Model.Medications)
{
    <td>
        @Html.DisplayFor(modelItem => item.MedicationId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dosage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Frequency)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FollowUpDate)
    </td>
}
