@model IEnumerable<Entities.PurchaseService>

@{
    ViewData["Title"] = "PurchaseList";
    Layout = null;
    var Ischecked = "";
}
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalPrice)
        </td>
        <td>
            @if (@item.RenewalOption)
            {
                Ischecked = "checked";
            }
            else
            {
                Ischecked = "";
            }
            <input type="checkbox" name="switch3" onchange="UserSttus(@item.PurchaseID)" id="IsVerified_@item.PurchaseID" data-switch="success" @Ischecked>
            <label for="RenewalOption_@item.PurchaseID" data-on-label="ON" data-off-label="OFF"></label>
        </td>
    </tr>
}
