@model IEnumerable<API.DBContext.Entities.User>


@foreach (var item in Model)
{
    <tr>
        <td hidden>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
        <td><input type="checkbox" class="userCheckbox"></td>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            <span class="btn btn-sm btn-outline-danger" id="showp_0"><i class="fa fa-low-vision"></i> Show</span>
           @*  @Html.DisplayFor(modelItem => item.PasswordHash) *@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVerified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsLocked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}