@{
    ViewData["Title"] = "Services";
    Layout = "_LayoutSiteAdmin";
}
@model IEnumerable<Entities.HospitalServices>

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Services</h1>
            <a href="" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="" class="h4 text-white">Services</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">

        <div class="row g-5 mb-5">
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.3s" style="min-height: 400px;">
                <div class="twentytwenty-container position-relative h-100 rounded overflow-hidden">
                    <img class="position-absolute w-100 h-100" src="~/user/img/before.jpg" style="object-fit: cover;">
                    <img class="position-absolute w-100 h-100" src="~/user/img/after.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="section-title mb-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Our Services</h5>
                    <h1 class="display-5 mb-0">We Offer The Best Quality Dental Services</h1>
                </div>
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="~/user/img/service-1.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Cosmetic Dentistry</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.9s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="~/user/img/service-2.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Dental Implants</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            if (i % 2 == 0)
            {
                <div class="row g-5 mb-5">

                    <div class="col-md-6">
                        <div class="position-relative bg-primary h-100 d-flex flex-column align-items-center justify-content-center text-center p-4" style="border-radius:5% 30% 5% 30%">
                            <h3 class="text-white mb-3">@item.ServiceName</h3>
                            @{
                                var words = item.Description.Split(' ');
                                var limitedDescription = words.Length > 73 ? string.Join(' ', words.Take(73)) : item.Description;
                            }

                            <p class="text-white mb-3">@limitedDescription......</p>


                        </div>
                    </div>
                    <div class="col-lg-6" style="border-radius:30% 5% 30% 5%">

                        <div class="col-md-7 wow zoomIn" data-wow-delay="0.6s">

                            <img src="@item.ServicesImage" alt="" style="width:500px; height:300px; border-radius:30% 5% 30% 5%">

                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0" style="border-radius:30% 5% 30% 5%">@item.ServiceName</h5>
                            </div>
                        </div>
                    </div>


                </div>
            }
            else
            {
                <div class="row g-5 mb-5">


                    <div class="col-lg-6">

                        <div class="col-md-7 wow zoomIn" data-wow-delay="0.6s">

                            <img src="@item.ServicesImage" alt="" style="width:500px; height:300px; border-radius:30% 5% 30% 5%">

                            <div class="position-relative bg-light rounded-bottom text-center p-4">
                                <h5 class="m-0">@item.ServiceName</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative bg-secondary h-100 d-flex flex-column align-items-center justify-content-center text-center p-4" style="border-radius:30% 5% 30% 5%">
                            <h3 class="text-white mb-3">@item.ServiceName</h3>

                            @{
                                var words = item.Description.Split(' ');
                                var limitedDescription = words.Length > 73 ? string.Join(' ', words.Take(73)) : item.Description;
                            }

                            <p class="text-white mb-3">@limitedDescription......</p>

                        </div>
                    </div>
                </div>
            }
        }


        <div class="row g-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-7">
                <div class="row g-5">
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.3s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="~/user/img/service-3.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Periodontal Treatments</h5>
                        </div>
                    </div>
                    <div class="col-md-6 service-item wow zoomIn" data-wow-delay="0.6s">
                        <div class="rounded-top overflow-hidden">
                            <img class="img-fluid" src="~/user/img/service-4.jpg" alt="">
                        </div>
                        <div class="position-relative bg-light rounded-bottom text-center p-4">
                            <h5 class="m-0">Teeth Whitening</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 service-item wow zoomIn" data-wow-delay="0.9s">
                <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-4">
                    <h3 class="text-white mb-3">Make Appointment</h3>
                    <p class="text-white mb-3">Clita ipsum magna kasd rebum at ipsum amet dolor justo dolor est magna stet eirmod</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->