@model IEnumerable<Entities.Appointment>

@{
    ViewData["Title"] = "AppointmentList";
    Layout = null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
    int i =0;
@foreach (var item in Model)
{
    i++;
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
            <td>
                <label>@item.DoctorName (@item.DrId)</label>
            </td>
        <td>
            <label>@item.PatientName (@item.PId)</label>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="ri-mail-send-fill"  title="Send Email"></i></a>
                @*  <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
            </td>
    </tr>
}
}