@model IEnumerable<Entities.HospitalServices>

@{
    ViewData["Title"] = "HospitalServices";
    Layout = null;
    var Ischecked = "";
}

@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntryOn)
        </td>
            <td>
                <div class="form-check form-switch">
                    @if (@item.Status==true)
                    {
                        Ischecked = "checked";
                    }
                    else
                    {
                        Ischecked = "";
                    }
                    <input type="checkbox" name="switch3" onchange="changeHS_Status(@item.ServiceID)" id="IsVerified_@item.ServiceID" data-switch="success" @Ischecked>
                    <label for="IsVerified_@item.ServiceID" data-on-label="ON" data-off-label="OFF"></label>
                </div>
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="editHospitalServices(@item.ServiceID)"></i></a>
            </td>
    </tr>
}
}