@model IEnumerable<Entities.InvoiceViewModel>

@{
    ViewData["Title"] = "_InvoiceList";
    Layout = null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryOn)
            </td>
            <td class="table-action">
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="invoiceReport(@item.InvoiceID)" title="View Report"></i></a>
            <a href="javascript:void(0);" class="action-icon"> <i class="ri-mail-send-fill" onclick="sendInvoiceInEmail('@item.InvoiceID', '@item.Email')" title="Send Email"></i></a>
            @*  <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
            </td>
        </tr>
}
}