@model Entities.InvoiceViewModelDetails
@{
	ViewData["Title"] = "Invoice";
    Layout = null;
}
<!-- Vector Map css -->
<link rel="stylesheet" href="~/assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css">
<!-- Theme Config Js -->
<script src="~/assets/js/hyper-config.js"></script>
<!-- App css -->
<link href="~/assets/css/app-saas.min.css" rel="stylesheet" type="text/css" id="app-style" />
<!-- Icons css -->
<link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Invoice Logo-->
                        <div class="clearfix">
                            <div class="float-start mb-3">
                                <img src="assets/images/logo-dark.png" alt="dark logo" height="22">
                            </div>
                            <div class="float-end">
                                <h4 class="m-0 d-print-none">Invoice</h4>
                            </div>
                        </div>

                        <!-- Invoice Detail-->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="float-end mt-3">
                                    <p><b>Hello, Cooper Hobson</b></p>
                                    <p class="text-muted font-13">Please find below a cost-breakdown for the recent work completed. Please make payment at your earliest convenience, and do not hesitate to contact me with any questions.</p>
                                </div>

                            </div><!-- end col -->
                            @foreach(var tItem in Model.TransactionDetail)
                            {
                                <div class="col-sm-4 offset-sm-2">
                                    <div class="mt-3 float-sm-end">
                                        @if (tItem.Mode!="Cash")
                                        {
                                            <p class="font-13"><strong>Transaction Id: </strong> @tItem.Id</p>
                                        }

                                        <p class="font-13"><strong>Mode : </strong> <span class="badge bg-success float-end">@tItem.Mode</span></p>
                                        
                                        @if (@tItem.IsPaid==true)
                                        {
                                            <p class="font-13"><strong>Status: </strong> <span class="float-end" style="background-color:red;"><label>Paid</label></span></p>
                                        }
                                        else
                                        {
                                            <p class="font-13"><strong>Status: </strong> <span style="background-color:red;">UnPaid</span></p>
                                            <p class="font-13"><strong>Due Date: </strong> <span class="float-end">@tItem.DueDate</span></p>
                                        }
                                        
                                    </div>
                                </div>
                            }
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row mt-3">
                             @foreach(var invoiceDetails in Model.InvoiceViewModels)
                            {
                            <div class="col-sm-5">
                                    <h3><strong>Invoice Summary</strong></h3>
                                    <p>
                                        <strong>Invoice ID:</strong> INV-@invoiceDetails.InvoiceID<br>
                                        <strong>Invoice Date:</strong> @invoiceDetails.EntryOn
                                    </p>
                            </div> <!-- end col-->
                            }
                            <div class="col-sm-7">
                                @foreach (var invoiceDetails in Model.InvoiceViewModels)
                                {
                                    <div class="col-sm-12">
                                        <h3><strong>Patient Details</strong></h3>
                                        <p>
                                            <strong>Name:</strong> @invoiceDetails.CustomerName<br>
                                            <strong>Email :</strong> @invoiceDetails.Email<br>
                                            <strong>Phone No:</strong> @invoiceDetails.Phone
                                        </p>
                                    </div> <!-- end col-->
                                }
                            </div>
                            <!-- end col-->

                            @* <div class="col-sm-4">
                                <div class="text-sm-end">
                                    <img src="assets/images/barcode.png" alt="barcode-image" class="img-fluid me-2" />
                                </div>
                            </div *@> <!-- end col-->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table mt-4">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                                <th>Unit Cost</th>
                                                <th class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                             @foreach(var InvoceItem in Model.InvoiceItems)
                                            {

                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <b>@InvoceItem.Service</b> <br />
                                                        @InvoceItem.Product
                                                    </td>
                                                    <td>@InvoceItem.Quantity</td>
                                                    <td>@InvoceItem.SubAmount</td>
                                                    <td class="text-end">@InvoceItem.TotalAmount</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div> <!-- end table-responsive-->
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="clearfix pt-3">
                                    <h6 class="text-muted">Notes:</h6>
                                    <small>
                                        All accounts are to be paid within 7 days from receipt of
                                        invoice. To be paid by cheque or credit card or direct payment
                                        online. If account is not paid within 7 days the credits details
                                        supplied as confirmation of work undertaken will be charged the
                                        agreed quoted fee noted above.
                                    </small>
                                </div>
                            </div> <!-- end col -->
                            <div class="col-sm-6">
                                <div class="float-end mt-3 mt-sm-0">
                                     @foreach(var dItem in Model.InvoiceViewModels)
                                      {
                                        <p><b>Sub-total:</b> <span class="float-end"> ₹ @dItem.Subtotal</span></p>
                                        <p><b>VAT:</b> <span class="float-end"> ₹ @dItem.TotalVAT</span></p>
                                        <p><b>Discount:</b> <span class="float-end"> ₹ @dItem.DiscountAmount</span></p>
                                        <h5><b>Total INR:</b> <span class="float-end"> ₹ @dItem.TotalAmount</span></h5>
 
                                      }
                                </div>
                                <div class="clearfix"></div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->

                        <div class="d-print-none mt-4">
                            <div class="text-end">
                                <a href="javascript:window.print()" class="btn btn-primary"><i class="mdi mdi-printer"></i> Print</a>
                                <a href="javascript: void(0);" class="btn btn-info">Submit</a>
                            </div>
                        </div>
                        <!-- end buttons -->

                    </div> <!-- end card-body-->
                </div> <!-- end card -->
            </div> <!-- end col-->
        </div>
        <!-- end row -->

    </div> <!-- container -->

</div>

