@model Entities.DashboardStatus
@{
    Layout = null;
}
<style>
    @@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0
    }

    body {
        background: #eee;
        font-family: 'Ubuntu', sans-serif
    }

    .box {
        position: relative;
        width: 100%;
        padding-right: 5px;
        padding-left: 5px
    }

    .our-services {
        margin-top: 75px;
        padding-bottom: 30px;
        padding: -1px 60px;
        min-height: 153px;
        text-align: center;
        border-radius: 10px;
        background-color: #fff;
        transition: all .4s ease-in-out;
        box-shadow: 0 0 25px 0 rgba(20, 27, 202, .17);
    }

        .our-services .icon {
            margin-bottom: -21px;
            transform: translateY(-50%);
            text-align: center
        }

        .our-services:hover h4,
        .our-services:hover p {
            color: #fff
        }

    .speedup:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
    }

    .settings:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
    }

    .privacy:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
    }

    .backups:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #fc6a0e 0%, #fdb642 100%)
    }

    .ssl:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
    }

    .database:hover {
        box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
        cursor: pointer;
        background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
    }
    .num
    {
        border-radius: 100%;
        color: white;
        padding: 10px;
        border: double black 1px;
    }
    .num1
    {
        background-color: darkviolet;
    }

    .num2 {
        background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 100%)
    }

    .num3 {
        background-image: linear-gradient(-45deg, #8d40fb 0%, #5a57fb 100%)
    }

    .num4 {
        background-image: linear-gradient(-45deg, #3615e7 0%, #44a2f6 100%)
    }

    .num5 {
        background-image: linear-gradient(-45deg, #34b5bf 0%, #210c59 100%)
    }

    .num6 {
        background-image: linear-gradient(-45deg, #fb0054 0%, #f55b2a 100%)
    }
</style>

<div class="row mb-2">
    <div class="col-12">
        <div class=" widget-inline">
            <div class="">
                <div class="row g-0">
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services settings">
                                <div>
                                    <h1><span class="ri-calendar-2-fill" style="color:#210c59;font-size:50px;"></span> </h1>
                                    <h3><span class="num num1"> <a href="/AppointmentList" style="color:white;" target="_blank">@Model.TodayAppointment</a></span></h3>
                                </div>
                                <p class=""> <strong>Today Appointment</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services speedup">
                                <div>
                                    <h1><span class="mdi mdi-account" style="color:#fb0054;font-size:50px;"></span> </h1>
                                    <h3><span class="num num2">
                                            <a href="/PatientList" style="color:white;" target="_blank">@Model.TotalPatient</a>
                                        </span></h3>
                                    <p class=""><strong>Patients</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services privacy">
                                <div>
                                    <h1><span class="mdi mdi-account" style="color:#44a2f6;font-size:50px;"></span> </h1>
                                    <h3><span class="num num3"><a href="/DoctorsList" style="color:white;" target="_blank">@Model.TotalRegisterDoctors</a></span></h3>
                                    <p class=""><strong>Doctors</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services backups">
                                <div>
                                    <h1><span class="ri-calendar-2-fill" style="color:#fc6a0e;font-size:50px;"></span> </h1>
                                    <h3><span class="num num4"><a href="/AppointmentList" style="color:white;" target="_blank">@Model.TotalAppointment</a></span></h3>
                                    <p class=""><strong>All Appointment</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services ssl">
                                <div>
                                    <h1><span class="ri-calendar-2-fill" style="color:#5a57fb;font-size:50px;"></span> </h1>
                                    <h3><span class="num num5">@Model.AppointmentsNextSevenDays</span></h3>
                                    <p class=""><strong>Appoint Next 7 Days</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="box">
                            <div class="our-services database">
                                <div>
                                    <h1><span class=" uil-medkit" style="color:#27b88d;font-size:50px;"></span> </h1>
                                    <h3><span class="num num6"><a href="/Medicines" style="color:white;" target="_blank">@Model.UnAvailableMedStocks</a></span></h3>
                                    <p><strong>Unavailable Medicine</strong></p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
