@model IEnumerable<Entities.PlanServices>
@{
    ViewData["Title"] = "Pricing";
    //     Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">

    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">DCS</a></li>
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                            <li class="breadcrumb-item active">Pricing</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Pricing</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row justify-content-center">
            <div class="col-xxl-10">

                <!-- Pricing Title-->
                <div class="text-center">
                    <h3 class="mb-2">Our Plans and Pricing</h3>
                    <p class="text-muted w-50 m-auto">
                        We have plans and prices that fit your business perfectly. Make your client site a success with our products.
                    </p>
                </div>

                <!-- Plans -->
                <div class="row mt-sm-5 mt-3 mb-3">

                    @foreach( var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card card-pricing card-pricing-recommended">
                                <div class="card-body text-center">
                                    <div class="card-pricing-plan-tag">Recommended</div>
                                    <p class="card-pricing-plan-name fw-bold text-uppercase">@item.ServiceName</p>
                                    <i class="card-pricing-icon ri-briefcase-line text-primary"></i>
                                    <h2 class="card-pricing-price">₹@item.Price <span>/ @item.Duration Years Service</span></h2>
                                    <ul class="card-pricing-features">
                                        <li>
                                            Patient Login
                                            @if (@item.IsPatient ?? false)
                                            {
                                                <strong><span class="ri-check-line"></span></strong>
                                            }
                                        </li>
                                        <li>Database BackUp
                                            @if (@item.BackUpService ?? false)
                                            {
                                                <strong><span class="ri-check-line"></span></strong>
                                                
                                            }
                                        </li>
                                        <li>
                                            Medicine Management
                                            @if (@item.MedicineStoreManagementService ?? false)
                                            {
                                                <strong><span class="ri-check-line"></span></strong>
                                                
                                            }
                                        </li>
                                        <li>Email Support
                                            @if (@item.EmailMarketing ?? false)
                                            {
                                                <strong><span class="ri-check-line"></span></strong>
                                                
                                            }
                                            </li>
                                        <li>Whatsapp Marketing
                                            @if (@item.IsWhatsappMarketing ?? false)
                                            {
                                                <strong><span class="ri-check-line"></span></strong>
                                                
                                            }
                                       </li>
                                        <li>24x7 Support
                                            @item.CustomerSupportLevel
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary mt-4 mb-2 rounded-pill" onclick="UpgradePackage(@item.ServiceID,@item.Price,@item.Discounts,@item.Duration);">Choose Plan</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function UpgradePackage(id, price, dis, ExpiryYear) {
        debugger;
        var param = {
            ServiceID: id,
            Price: price,
            Discount: dis,
            ExpiryYear:ExpiryYear
        };
        console.log(param);
        $.post("/AddPurchaseService", param).done(function () {
            alert("succrssfully update");

        }).fail(function () {
            alert("error");

        })
    }
    </script>