@model IEnumerable<Entities.Doctor>

@{
    ViewData["Title"] = "DoctorsList";
    Layout = null;
    var Ischecked = "";
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
                @if (@item.DrImage.Length!=0 && @item.DrImage!=null)
                {
                    <a class="fancybox" href="@item.DrImage" data-fancybox data-caption="@item.Name">
                        <img src="@item.DrImage" onerror="this.onerror=null;this.src='/images/noimage.jpg'" class="rounded-circle" alt="No Image Found" width="50px" height="50px" />
                    </a>
                }
                else
                {
                    <a class="fancybox" href="@item.DrImage" data-fancybox data-caption="@item.Name">
                        <img src="../assets/images/noimage.jpg" onerror="this.onerror=null;this.src='/images/noimage.jpg'" class="rounded-circle" alt="No Image Found" width="50px" height="50px" />
                    </a>
                }
                
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availability)
        </td>
           
            <td>
                <div class="form-check form-switch">
                    @if (@item.Status==1)
                    {
                        Ischecked = "checked";
                    }
                    else
                    {
                        Ischecked = "";
                    }
                    <input type="checkbox" name="IsVerified_@item.DrId" onchange="doctorStatus(@item.DrId)" id="IsVerified_@item.DrId" data-switch="success" @Ischecked>
                    <label for="IsVerified_@item.DrId" data-on-label="ON" data-off-label="OFF"></label>
                </div>
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="doctorDetails(@item.DrId)"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="EditDoctor(@item.DrId)"></i></a>
                @* <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
            </td>
    </tr>
}
}