@model IEnumerable<Entities.DCSPolicies>

@{
    ViewData["Title"] = "DCSPoliciesList";
    Layout = null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
}