@model IEnumerable<Entities.HospitalEmployee>

@{
    ViewData["Title"] = "_EmployeeList";
    Layout = null;
    var Ischecked = "";
}

@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
            <a class="fancybox" href="@item.ProfileImage" data-fancybox data-caption="@item.Name">
                <img src="@item.ProfileImage" onerror="this.onerror=null;this.src='/images/noimage.jpg'" class="img-fluid rounded-circle" alt="No Image Found" width="90px" height="50px" />
            </a>
            </td>
        <td>
            <div class="form-check form-switch">
                @if (@item.Status==true)
                {
                    Ischecked = "checked";
                }
                else
                {
                    Ischecked = "";
                }
                <input type="checkbox" name="switch3" onchange="employeeStatus(@item.EmployeeId)" id="IsVerified_@item.EmployeeId" data-switch="success" @Ischecked>
                <label for="IsVerified_@item.EmployeeId" data-on-label="ON" data-off-label="OFF"></label>
            </div>
        </td>
        <td class="table-action">
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="employeeDetails(@item.EmployeeId)"></i></a>
            <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="editEmployee(@item.EmployeeId)"></i></a>
        </td>
        </tr>
}
}    
