@model IEnumerable<Entities.Medicines>

@{
    ViewData["Title"] = "Medicines";
    Layout = null;
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)

            </td>
            <td>
                @if (@item.Quantity >10)
                {
                    <label class="badge primary">available</label>
                }
                else if(@item.Quantity==0)
                {
                    <label class="badge red">not available</label>
                }
                else
                {
                    <label class="badge yellow">limited stock</label>
                   
                }
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="doctorDetails(@item.MedicineID)"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="EditDoctor(@item.MedicineID)"></i></a>
                @* <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
            </td>
        </tr>
    }
}
