@model IEnumerable<Entities.ProjectDetails>

@{
    ViewData["Title"] = "_ProjectList";
    Layout = null;
    var Ischecked = "";
}
@if (Model == null || !Model.Any())
{
    <tr style="text-align: center;">
        <td colspan="12" style="text-align: center;">
            <label><strong>Data Not Found</strong></label>
        </td>
    </tr>
}
else
{
         @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
            <td>
                <a class="fancybox" href="@item.Logo" data-fancybox data-caption="@item.ProjectName">
                    <img src="@item.Logo" onerror="this.onerror=null;this.src='/images/noimage.jpg'" class="img-fluid rounded-circle" alt="No Image Found" width="90px" height="50px" />
                </a>
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DomainName)
                </td>
                <td>
                @item.Purchase_Date.ToString();
                </td>
            <td>
                <div class="form-check form-switch">
                    @if (@item.Status==1)
                    {
                        Ischecked = "checked";
                    }
                    else
                    {
                        Ischecked = "";
                    }
                    <input type="checkbox" name="switch3" onchange="UserStatus(@item.ProjectId)" id="IsVerified_@item.ProjectId" data-switch="success" @Ischecked>
                    <label for="IsVerified_@item.ProjectId" data-on-label="Active" data-off-label="Deactive"></label>
                </div>
            </td>
            <td class="table-action">
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-eye" onclick="ProjectDetails(@item.ProjectId)"></i></a>
                <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline" onclick="editProject(@item.ProjectId)"></i></a>
                @*  <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a> *@
            </td>
            </tr>
        } 
}
    
