@model Entities.ApplicationSetting
@{
	Layout = null;
	var Ischecked = "";
}
<div class="card-body">
	<!-- Row start -->
	<div class="row gx-3">

		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Desktop settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						@*<li class="list-group-item d-flex justify-content-between align-items-center">
							 A Patient Status
							<div class="form-check form-switch m-0">
							<input class="form-check-input" type="checkbox" role="switch"
							id="switchOne" />
							</div>
							</li>*@
						<input class="form-check-input" type="text"  hidden value="@Model.ProjectID"
							   id="ProjectID" />
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Dark Mode
							<div class="form-check form-switch m-0">
								@if (@Model.IsDarkModeEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsDarkModeEnabled" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Email settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Email Verification
							<div class="form-check form-switch m-0">
								@if (@Model.IsEmailVerificationRequired)
								{
									Ischecked = "checked";
								}
									else
									{
									Ischecked = "";
									}
									<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsEmailVerificationRequired" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Email Marketing
							<div class="form-check form-switch m-0">
								@if (@Model.IsEmailMarketing)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsEmailMarketing" />
							</div>
						</li>
						@* <li class="list-group-item d-flex justify-content-between align-items-center">
						settings 3
						<div class="form-check form-switch m-0">
						<input class="form-check-input" type="checkbox" role="switch"
						id="switchSix" />
						</div>
						</li> *@
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>

	<div class="row gx-3">
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Authentication settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Show Password
							<div class="form-check form-switch m-0">
								@if (@Model.IsShowPassword)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsShowPassword" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Multiple Mobile Allowed
							<div class="form-check form-switch m-0">
								@if (@Model.IsMultipleMobileAllowed)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" id="IsMultipleMobileAllowed" @Ischecked
									   checked />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Password Only
							<div class="form-check form-switch m-0">
								@if (@Model.IsPasswordOnly)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsPasswordOnly" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							TwoFactor Authentication
							<div class="form-check form-switch m-0">
								@if (@Model.IsTwoFactorAuthenticationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsTwoFactorAuthenticationEnabled" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Max LoginAttempts Check
							<div class="form-check form-switch m-0">
								@if (@Model.MaxLoginAttempts==1)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="MaxLoginAttempts" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Payment settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							PaymentGateway Enable
							<div class="form-check form-switch m-0">
								@if (@Model.IsPaymentGateway)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsPaymentGateway" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							BillingNotification Enabled
							<div class="form-check form-switch m-0">
								@if (@Model.IsBillingNotificationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsBillingNotificationEnabled" />
							</div>
						</li>
						@* <li class="list-group-item d-flex justify-content-between align-items-center">
						settings 3
						<div class="form-check form-switch m-0">
						<input class="form-check-input" type="checkbox" role="switch"
						id="switchSix" />
						</div>
						</li> *@
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>

	<div class="row gx-3">
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Appointment settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Appointment Status
							<div class="form-check form-switch m-0">
								@if (@Model.IsAppointmentStatus)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
								id="IsAppointmentStatus" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Appointment By Form
							<div class="form-check form-switch m-0">
								@if (@Model.IsAppointmentFormService)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" id="IsAppointmentFormService" @Ischecked
									   checked />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Appointment By Contact
							<div class="form-check form-switch m-0">
								@if (@Model.IsAppointmentContactService)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" id="IsAppointmentContactService" @Ischecked
									   checked />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Pre-Appointment Notify
							<div class="form-check form-switch m-0">
								@if (@Model.IsAppointmentReminderEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsAppointmentReminderEnabled" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Notification settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Sms NotificationEnabled
							<div class="form-check form-switch m-0">
								@if (@Model.IsSmsNotificationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsSmsNotificationEnabled" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							DoctorAvailabilityNotification
							<div class="form-check form-switch m-0">
								@if (@Model.IsDoctorAvailabilityNotificationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsDoctorAvailabilityNotificationEnabled" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							PrescriptionRefillReminder
							<div class="form-check form-switch m-0">
								@if (@Model.IsPrescriptionRefillReminderEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsPrescriptionRefillReminderEnabled" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>

	<div class="row gx-3">
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Lab Managment settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Lab Managment Service
							<div class="form-check form-switch m-0">
								@if (@Model.IsSmsNotificationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsLabManagmentService" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							LabResults Notification
							<div class="form-check form-switch m-0">
								@if (@Model.IsSmsNotificationEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsLabResultsNotificationEnabled" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Other settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							DB BackUp Service
							<div class="form-check form-switch m-0">
								@if (@Model.IsBackUpService)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsBackUpService" />
							</div>
						</li>
						
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Referral Service
							<div class="form-check form-switch m-0">
								@if (@Model.IsReferral)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsReferral" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>

	<div class="row gx-3">
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>MedicalStore settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							MedicalStore Service
							<div class="form-check form-switch m-0">
								@if (@Model.IsMSServiceEnabled)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsMSServiceEnabled" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Low Storage Medicine Notification
							<div class="form-check form-switch m-0">
								@if (@Model.IsLowStorageMedicineNotification)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsLowStorageMedicineNotification" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Whatsapp settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Whatsapp Marketing
							<div class="form-check form-switch m-0">
								@if (@Model.IsWhatsappMarketing)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsWhatsappMarketing" />
							</div>
						</li>
						@* <li class="list-group-item d-flex justify-content-between align-items-center">
							Low Storage Medicine Notification
							<div class="form-check form-switch m-0">
								<input class="form-check-input" type="checkbox" role="switch"
									   id="IsLowStorageMedicineNotification" />
							</div>
						</li> *@
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>

	<div class="row gx-3">
		<div class="col-sm-6 col-12">
			<!-- Card start -->
			<label><strong>Rolebase settings</strong></label>
			<div class="card">
				<div class="card-body">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Super Admin
							<div class="form-check form-switch m-0">
								@if (@Model.SuperAdmin)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="SuperAdmin" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							 Admin
							<div class="form-check form-switch m-0">
								@if (@Model.IsAdmin)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsAdmin" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Doctor
							<div class="form-check form-switch m-0">
								@if (@Model.IsDoctor)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsDoctor" />
							</div>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Patient
							<div class="form-check form-switch m-0">
								@if (@Model.IsPatient)
								{
									Ischecked = "checked";
								}
								else
								{
									Ischecked = "";
								}
								<input class="form-check-input" type="checkbox" role="switch" @Ischecked
									   id="IsPatient" />
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- Card end -->
		</div>
	</div>
	<!-- Row end -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$('.form-check-input').on('change', function () {
			updateAllSettings();
		});
	});
	function updateAllSettings() {
		debugger;
		var param = {
			ProjectID: $("#ProjectID").val(),
			IsSocialAlert: !!$("#IsSocialAlert").prop("checked"),
			IsDarkModeEnabled: !!$("#IsDarkModeEnabled").prop("checked"),
			IsEmailVerificationRequired: !!$("#IsEmailVerificationRequired").prop("checked"),
			IsEmailMarketing: !!$("#IsEmailMarketing").prop("checked"),
			IsShowPassword: !!$("#IsShowPassword").prop("checked"),
			IsMultipleMobileAllowed: !!$("#IsMultipleMobileAllowed").val(),
			IsPasswordOnly: !!$("#IsPasswordOnly").prop("checked"),
			IsReferral: !!$("#IsReferral").prop("checked"),
			IsPaymentGateway: !!$("#IsPaymentGateway").prop("checked"),
			IsMultipleVendorAllowed: !!$("#IsMultipleVendorAllowed").prop("checked"),
			IsTwoFactorAuthenticationEnabled: !!$("#IsTwoFactorAuthenticationEnabled").prop("checked"),
			MaxLoginAttempts: !!$("#MaxLoginAttempts").prop("checked"),
			IsBackUpService: !!$("#IsBackUpService").prop("checked"),
			IsSmsNotificationEnabled: !!$("#IsSmsNotificationEnabled").prop("checked"),
			IsAppointmentReminderEnabled: !!$("#IsAppointmentReminderEnabled").prop("checked"),
			IsDoctorAvailabilityNotificationEnabled: !!$("#IsDoctorAvailabilityNotificationEnabled").prop("checked"),
			IsLabResultsNotificationEnabled: !!$("#IsLabResultsNotificationEnabled").prop("checked"),
			IsMSServiceEnabled: !!$("#IsMSServiceEnabled").prop("checked"),
			IsBillingNotificationEnabled: !!$("#IsBillingNotificationEnabled").prop("checked"),
			IsPrescriptionRefillReminderEnabled: !!$("#IsPrescriptionRefillReminderEnabled").prop("checked"),
			IsPatient: !!$("#IsPatient").prop("checked"),
			IsDoctor: !!$("#IsDoctor").prop("checked"),
			SuperAdmin: !!$("#SuperAdmin").prop("checked"),
			IsAdmin: !!$("#IsAdmin").prop("checked"),
			IsLabManagmentService: !!$("#IsLabManagmentService").prop("checked"),
			IsLowStorageMedicineNotification: !!$("#IsLowStorageMedicineNotification").prop("checked"),
			IsAppointmentContactService: !!$("#IsAppointmentContactService").prop("checked"),
			IsAppointmentFormService: !!$("#IsAppointmentFormService").prop("checked"),
			IsAppointmentStatus: !!$("#IsAppointmentStatus").prop("checked"),
			IsWhatsappMarketing: !!!!$("#IsWhatsappMarketing").prop("checked"),
		};

		console.table(param);
		$.post('/AddOrUpdateAppSetting', param).done(function (res) {
			Info(res.statusCode, res.responseText);

		}).fail(function () {

			alert("error");
		});
	}
</script>
